[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyedflib = "*"
pyqt5 = "*"
pylsl = "*"
pyqtgraph = "*"
opencv-python = "~=4.1.2.30"
qimage2ndarray = "*"

[dev-packages]

[requires]
python_version = "3.7"
