[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyedflib = "*"
pyqt5 = "5.12.9"
pyqtgraph = "*"
opencv-python = "~=4.1.2.30"
qimage2ndarray = "*"
pipfile = "*"
pylsl = {editable = true, git = "https://github.com/chkothe/pylsl/"}

[dev-packages]
ipython = "*"

[requires]
python_version = "3.8"
